
<ul class="list-unstyled list-inline">
    <li>Quick Links</li>
    <li>@Html.ActionLink("Show Current Month", "")</li>
    <li>@Html.ActionLink("Show Previous Month", "")</li>
    <li>@Html.ActionLink("Show All", "")</li>
</ul>
